/* Adds border-box property to all elements on the page */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

/* ref: cssgradient.io */
body {
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 50%, rgba(36,36,62,1) 100%);
    background-color: rgb(15,12,41);;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: #101010;
    text-align: center;
}

h1 {
    font-family: 'Oswald';
    font-size: 3rem;
    letter-spacing: .1rem;
    color: whitesmoke;
    text-shadow: 3px 3px 3px #000000;
    margin: 2rem;
    padding-top: 1rem;
}

h2 {
    font-family: 'Oswald';
    font-size: 3rem;
    color: #f28500;
    margin: 0;
    padding-bottom: 3rem;
}

p {
    font-size: 1.15rem;
    color: whitesmoke;
    margin: 1rem;
}

/* Quiz area styling */
#quiz-intro {
    width: 100%;
    height: 20vh;
}

.container {
    background-color: whitesmoke;
    position: absolute;
    top: 300px;
    width: 750px;
    max-width: 80%;
    border-radius: 5px;
    padding: 3rem; 
    box-shadow: 0px 0px 15px 6px #000000;
    margin-bottom: 5vh;
}

#sign-holder {
    width: 175px;
    height: 175px;
    border-radius: 5px;
    margin: auto;
}

.option-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin: 25px 0;
    padding: 1.5rem 0;
}

.btn {
    background-color: #f28500;
    border: .5px solid #cc7000;
    border-radius: 5px;
    color: #ffffff;
    padding: 1rem 0px;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

/* ref: csstricks.com */
.btn:hover {
    background-color: #cc7000;
    transform: scale(1.025);
}

.btn.correct {
    transition: all .6s ease-in-out;
    background-color: #228B22;
}

.btn.wrong {
    transition: all .6s ease-in-out;
    background-color: #D2042D;
}

.endgame-area {
    justify-content: center;
}

.control-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn, .next-btn, .home-btn, .study-btn {
    font-size: 1.1rem;
    padding: .75rem 0px;
    margin: 10px 0;
    width: 300px;
}

.game-btn {
    width: 200px;
}

.hide {
    display: none;
}

/* Classes to be assigned depending on shown question */
.sign1 {
    background: url(/assets/images/sign1.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign2 {
    background: url(/assets/images/sign2.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign3 {
    background: url(/assets/images/sign3.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign4 {
    background: url(/assets/images/sign4.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign5 {
    background: url(/assets/images/sign5.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign6 {
    background: url(/assets/images/sign6.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign7 {
    background: url(/assets/images/sign7.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign8 {
    background: url(/assets/images/sign8.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign9 {
    background: url(/assets/images/sign9.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign10 {
    background: url(/assets/images/sign10.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign11 {
    background: url(/assets/images/sign11.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign12 {
    background: url(/assets/images/sign12.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign13 {
    background: url(/assets/images/sign13.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign14 {
    background: url(/assets/images/sign14.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign15 {
    background: url(/assets/images/sign15.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign16 {
    background: url(/assets/images/sign16.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign17 {
    background: url(/assets/images/sign17.webp) center center no-repeat;
    background-size: contain;
    border: 2px solid #101010;
}

.sign18 {
    background: url(/assets/images/sign18.webp) center center no-repeat;
    background-size: contain;
    border: 2px solid #101010;
}

.sign19 {
    background: url(/assets/images/sign19.webp) center center no-repeat;
    background-size: contain;
    border: 2px solid #101010;
}

.sign20 {
    background: url(/assets/images/sign20.webp) center center no-repeat;
    background-size: contain;
    border: 2px solid #101010;
}


