/* Adds border-box property to all elements on the page */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

/* General style rules for general application */
body {
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 50%, rgba(36,36,62,1) 100%);
    background-color: rgb(15,12,41);;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: #101010;
    text-align: center;
}

h1 {
    font-family: 'Noto Serif';
    font-size: 4.5rem;
    color: rgba(48,43,99,1);
    text-shadow: 3px 3px 3px #BBBDBD;
    margin: 0;
}

h3 {
    font-family: 'Oswald';
    font-size: 2.5rem;
    color: #f28500;
    margin: 0;
    padding: 1rem 0 .5rem 0;
}

p {
    font-size: 1.1rem;
    margin: 1rem;
    color: #101010;
    padding-bottom: 1.5rem;
}

/* Quiz area styling */
#sublogo {
    color: gray;
    margin-top: -.3rem;
    padding-bottom: 1.5rem;
    font-size: 1.33rem;
}

.container {
    background-color: whitesmoke;
    position: absolute;
    top: 15vh;
    width: 750px;
    max-width: 80%;
    border-radius: 5px;
    padding: 3rem 3rem 1.5rem; 
    box-shadow: 0px 0px 15px 6px #000000;
}

#sign-holder {
    width: 175px;
    height: 175px;
    border-radius: 5px;
    margin: auto;
}

.option-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin: 25px 0;
    padding: 1.5rem 0;
}

.btn {
    background-color: #f28500;
    border: .5px solid #cc7000;
    border-radius: 5px;
    color: #ffffff;
    padding: 1rem 0px;
    transition: all .15s ease-in-out;
    cursor: pointer;
    font-size: 1.15rem;
}

.btn:hover {
    background-color: #cc7000;
    transform: scale(1.025);
}

.btn.correct {
    transition: all .6s ease-in-out;
    background-color: #228B22;
}

.btn.wrong {
    transition: all .6s ease-in-out;
    background-color: #D2042D;
}

/* End of game div styling */
#endgame-area {
    height: 500px;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
    color: #101010;
    margin-bottom: 2rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#subtext-end {
    color: #101010;
    margin: .25rem auto;
}

#score {
    margin: .25rem auto; 
}

#end-pic {
    width: 100%;
    height: 275px;
    margin: 0 auto;
}

.passpic {
    background: url(../images/pass-result.webp) center center no-repeat;
    background-size: contain;
}

.failpic {
    background: url(../images/fail-result.webp) center center no-repeat;
    background-size: contain;
}

#score {
    font-family: 'Oswald';
    font-size: 3rem;
    padding: 0 0 2rem 0;
    color: #cc7000;
}

/* All button styling */
.control-area {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: .5rem;
}

.start-btn, .next-btn, .home-btn, .study-btn, .submit-btn, .pop-quiz-btn {
    font-size: 1.25rem;
    padding: .75rem 0;
    margin: .5rem auto;
    width: 300px;
}

/* footer-style div at bottom of quiz area styling */
.foot-links {
    padding-top: 6rem;
}

.foot-links a {
    font-size: 2.75rem;
    color: rgba(48,43,99,1);
    text-decoration: none;
    margin: 0 .75rem;
}

.foot-link:hover {
    color: rgb(17, 12, 46);
    font-size: 3rem;
    transition: all ease-in-out .3s;
}

/* Display still to hide items */
.hide {
    display: none;
}

/* Classes to be assigned depending on shown question */
.sign1 {
    background: url(../images/sign1.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign2 {
    background: url(../images/sign2.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign3 {
    background: url(../images/sign3.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign4 {
    background: url(../images/sign4.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign5 {
    background: url(../images/sign5.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign6 {
    background: url(../images/sign6.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign7 {
    background: url(../images/sign7.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign8 {
    background: url(../images/sign8.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign9 {
    background: url(../images/sign9.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign10 {
    background: url(../images/sign10.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign11 {
    background: url(../images/sign11.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign12 {
    background: url(../images/sign12.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign13 {
    background: url(../images/sign13.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign14 {
    background: url(../images/sign14.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign15 {
    background: url(../images/sign15.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign16 {
    background: url(../images/sign16.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign17 {
    background: url(../images/sign17.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign18 {
    background: url(../images/sign18.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign19 {
    background: url(../images/sign19.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign20 {
    background: url(../images/sign20.webp) center center no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Media queries */

@media screen and (max-width: 750px) {
    .option-grid {
        grid-template-columns: repeat(1, 75%);
        justify-content: space-around;
    }

    .next-btn, .home-btn, .submit-btn {
        width: 200px;
    }

    .start-btn, .pop-quiz-btn {
        width: 275px;
    }
}

@media screen and (max-width: 550px) {
    .container {
        padding: 3rem 1rem 1.5rem;
        max-width: 90%;
    }

    .option-grid {
        grid-template-columns: repeat(1, 85%);
        justify-content: space-around;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.05rem;
        margin: 1rem auto;
        width: 60%;
    }

    #sublogo {
        font-size: 1.1rem;
    }

    .btn {
        font-size: 1rem;
        padding: .75rem;
    }

    #endgame-area {
        max-width: 95%;
    }

}

@media screen and (max-width: 450px) {
    h3 {
        font-size: 2.25rem;
    }

    p {
        font-size: 1rem;
        margin: 1rem auto;
        width: 75%;
    }

    #sublogo {
        padding-bottom: 1.5rem;
    }

    .start-btn, .pop-quiz-btn {
        width: 225px;
    }

    #endgame-area {
        height: 450px;
    }

    #end-pic {
        height: 200px;
    }

    #score {
        font-size: 2.75rem;
    }

}

@media screen and (max-width: 400px) {
    .foot-links a {
        font-size: 2.33rem;
    }
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 3.5rem;
    }
    
    p {
        padding-bottom: 2rem;
        font-size: .95rem;
        width: 90%;
    }

    .container {
        padding: 2rem 0.5rem 1.5rem;
        max-width: 92.5%;
    }

    #sublogo {
        font-size: .9rem;
        padding-bottom: .7rem;
    }

    .start-btn, .next-btn, .home-btn, .submit-btn, .pop-quiz-btn {
        margin: 0.3rem auto;
        width: 200px;
    }

    .option-grid {
        margin: 20px 0 5px;
    }

    .btn {
        font-size: .9rem;
    }
}

@media screen and ( max-height: 940px ) {
   .container {
       top: 10vh;
   }
}

@media screen and ( max-height: 760px ) {
    .container {
        top: 5vh;
    }
 }

 @media screen and ( max-height: 760px ) {
    .container {
        top: 3vh;
    }
 }

 @media screen and ( max-height: 670px ) {
    .container {
        top: 2.5vh;
    }
 }

